	<!-- footer -->
	<footer class="footer">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-sm-5 col-sm-push-5 text-right">
	    			<ul class="list-inline">
	    				<li><a href="#">Terms & Conditions</a></li>
	    				<li><a href="#">Privacy Policy</a></li>
	    				<li><a href="#">Contact Us</a></li>
	    			</ul>
	    		</div>
	    		<div class="col-sm-5 col-sm-pull-5">
	    			Copyright © 2014 <a href="#">USA Premier Card</a>. All Rights Reserved
	    		</div>
	    	</div>
	    </div>
	</footer>
    <script src="js/scripts.js"></script>
</body>
</html>