//= template/header.html

    <section class="home">
        <div class="container">
			<h1>
				get <b><small>$</small>1,000</b><br/>
				<span>credit <small>in</small> <i>60</i> <small>sec!</small></span>
			</h1>
			<img src="img/card.png" alt="USA Premier Card">
			<a href="#" class="btn-basic">get credit now 
                <span class="arrow">
                    <svg class="icon">
                        <use xlink:href="#icon-arrow"></use>
                    </svg>
                </span></a>
        </div>
    </section>
    <section class="key-features">
    	<div class="container bottom-indent bottom-line">
    		<div class="row">
    			<div class="col-sm-2 feature">
    				<div class="icon-wrap">
    					<svg class="icon">
                            <use xlink:href="#icon-check"></use>
                        </svg>
    				</div>
    				<p><b>guaranteed approval</b><br class="hidden-xs"/>
					& no credit check</p>
                    <div class="clearfix"></div>
    			</div>
    			<div class="col-sm-2 feature">
    				<div class="icon-wrap">
    					<svg class="icon">
                            <use xlink:href="#icon-chart"></use>
                        </svg>
    				</div>
    				<p><b>bad credit</b><br class="hidden-xs"/>
					- no problem</p>
                    <div class="clearfix"></div>
    			</div>
    			<div class="col-sm-2 feature">
    				<div class="icon-wrap">
    					<svg class="icon">
                            <use xlink:href="#icon-money"></use>
                        </svg>
    				</div>
    				<p><b>$1,000 credit</b><br class="hidden-xs"/>
					for brand shopping</p>
                    <div class="clearfix"></div>
    			</div>
    			<div class="col-sm-2 feature">
    				<div class="icon-wrap">
    					<svg class="icon">
                            <use xlink:href="#icon-percent"></use>
                        </svg>
    				</div>
    				<p><b>0% financing</b><br class="hidden-xs"/>
					on purchases</p>
                    <div class="clearfix"></div>
    			</div>
    			<div class="col-sm-2 feature">
    				<div class="icon-wrap">
    					<svg class="icon">
                            <use xlink:href="#icon-list"></use>
                        </svg>
    				</div>
    				<p><b>reports</b> to<br class="hidden-xs"/>
					major credit bureau</p>
                    <div class="clearfix"></div>
    			</div>
    		</div>
    	</div>
    </section>

    <section class="info-section">
    	<div class="container bottom-indent">
    		<div class="row">
    			<div class="col-sm-5 l-block">
    				<h4>сustomer service 24/7</h4>
    				<p>You are welcome to contact us with your questions, comments, suggestions or concerns. Fill out the question form and we will get back to you.</p>
    				<p>Whether you have general questions about a credit product or credit card issuer we are ready to help you around the clock. Our assistance is absolutely free. Make sure your question does not include any personal or account information for security purposes.</p>
    			</div>
    			<div class="col-sm-5 r-block">
    				<h4>privacy protection</h4>
    				<p>We are committed to protect your privacy and will not collect your personal information unless you choose to provide that information to us. The collected personal data will be used to make a credit decision and to enhance your experience with us.</p>
    				<p>If you want to know more about how we collect and use the personal information you submit and non-personal information about your visit, read our privacy policy.</p>
    			</div>
    		</div>
    	</div>
    </section>

//= template/footer.html