body{
	font-family: @font, sans-serif;
	font-weight: @regular;
	color: @basic-text;
	@media (max-width: @screen-xs-max){
		font-size: 12px;
	}
}
section{
	padding-top: 50px;
	position: relative;
	@media (max-width: @screen-sm-max) {
		padding-top: 30px;
	}
}
a{
	color: @blue;
}
b{
	font-weight: @semibold;
}
.container{
	position: relative;
	&.bottom-indent{
		padding-bottom: 50px;
		@media (max-width: @screen-sm-max) {
			padding-bottom: 30px;
		}
	}
	&.bottom-line{
		border-bottom: 2px solid @light-gray;
	}
}
.btn-basic{
	font-size: 22px;
	line-height: 1;
	padding: 20px 30px;
	text-transform: uppercase;
	background: @red;
	color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 0 darken(@red, 20%);
	transition: all 0.3s ease-in-out;
	&:focus{
		outline: none;
		color: #fff;
		text-decoration: none;
	}
	&:hover{
		background-color: @blue;
		box-shadow: 0 1px 0 darken(@blue, 20%);
		text-decoration: none;
		color: #fff;
	}

	@media (max-width: @screen-xs-max){
		font-size: 3vw;
		padding: 10px 3vw;
	}
}

