.footer{
	padding: 30px 0;
	background-color: @footer-bg;
	margin-top: 3px;
	line-height: 1;
	ul{
		margin-bottom: 0;
	}

	// media query
	@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
		font-size: 13px;
		padding: 18px 0;
	}
	@media (max-width: @screen-xs-max) {
		padding: 10px 0 0;
		.row>div{
			font-size: 10px;
			margin-bottom: 15px;
		}
		.text-right{
			text-align: center;
		}
		text-align: center;
	}
}