.header{
	padding-top: 10px;
	padding-bottom: 20px;
	position: relative;
	.header-line{
		position: absolute;
		background-color: @light-gray;
		height: 2px;
		width: 100%;
		left: 0;
		bottom: 8px;
		z-index: 0;
	}
	.header-logo{
		margin: 0 auto;
		text-align: center;
		p{
			display: inline-block;
			font-size: 13px;
			line-height: 1;
			text-transform: uppercase;
			padding: 15px 10px 0;
			margin-bottom: 0;
			background-color: #fff;
			position: relative;
			span{
				color: @blue;
			}
		}
	}

	// media query
	@media (max-width: @screen-sm-max) {
		padding-bottom: 0;
	}
	@media (max-width: @screen-xs-max){
		.header-logo{
			img{
				width: 200px;
			}
			p{
				font-size: 10px;
				padding-top: 5px;
			}
		}
	}
}