.home{
	min-height: 500px;
	background: url('@{img}/bg-first.jpg') no-repeat center;
	background-size: cover;
	padding-top: 35px;
	padding-bottom: 20px;
	h1{
		font-weight: @semibold;
		text-transform: uppercase;
		color: @blue;
		margin-bottom: 40px;
		small{
			font-size: 80%;
			color: inherit;
		}
		b{
			font-size: 227.77%;
			color: @red;
			small{
				font-size: 77%;
			}
		}
		i{
			font-size: 152.77%;
			font-style: normal;
		}
		span{
			padding-left: 190px;
		}
	}
	.btn-basic{
		position: absolute;
		bottom: 1px;
		left: 414px;
		.arrow{
			display: inline-block;
			width: 20px;
			height: 18px;
			.icon{
				fill: #fff;
			}
		}
	}

	// media query
	@media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
		min-height: 440px;
		.container{
			padding-left: 40px;
		}
		h1{
			font-size: (@font-size-h1 - 5px);
			span{
				padding-left: 165px;
			}
		}
	}
	@media (max-width: @screen-xs-max){
		min-height: 200px;
		padding-top: 5px;
		background-position: 55% 0;
		h1{
			font-size: 4vw;
			margin-bottom: 10px;
			span{
				padding-left: 22%;
			}
		}
		img{
			width: 50%;
		}
		.btn-basic{
			left: 55%;
			.arrow{
				width: 2vw;
				height: 2vw;
			}
		}
	}
}

.key-features{
	.icon-wrap{
		height: 40px;
		width: 40px;
		margin: 0 auto;
		border-radius: 50%;
		border: 1px solid @blue;
		padding: 8px;
		transition: all 0.3s ease-in-out;
 		.icon{
 			fill: @blue;
 		}
		&:hover{
			transform: scale(1.5);
		}
	}
	p{
		margin-top: 30px;
		text-transform: uppercase;
		text-align: center;
		font-size: 15px;
		line-height: 1.6;
		b{
			color: @blue;
		}
	}

	// media query
	@media (min-width: @screen-xs-max) {
		.feature{
			padding: 0;
		}
	}
	@media (max-width: @screen-sm-max){
		p{
			font-size: 12px;
		}
	}
	@media (max-width: @screen-xs-max){
		font-size: 12px;
		.feature{
			margin-bottom: 10px;
			.icon-wrap{
				width: 26px;
				height: 26px;
				padding: 5px;
				float: left;
			}
			p{
				margin-top: 5px;
				padding-left: 10px;
				font-size: 11px;
				float: left;
				text-align: left;
			}
		}
	}
}

.info-section{
	border-bottom: 2px solid @light-gray;
	h4{
		font-size: 16px;
		text-transform: uppercase;
		color: @blue;
		font-weight: @semibold;
		margin-bottom: 20px;
	}
	p{
		line-height: 1.6;
		text-align: justify;
	}
	.l-block{
		padding-right: 40px;
		padding-left: 0;
	}
	.r-block{
		padding-right: 0;
		padding-left: 40px;
	}
	@media (max-width: @screen-xs-max){
		.l-block, .r-block{
			padding-right: @grid-gutter-width / 2;
			padding-left: @grid-gutter-width / 2;
		}
		.r-block{
			margin-top: 30px;
		}
	}
}