// path
@img: 			'../img';

// fonts
@font: 			'Open Sans';
@regular: 		400;
@semibold: 		600;
@bold: 			700;

// colors

@basic-text: 	#1a1a1a;
@blue: 			#0d618e;
@red: 			#d3333b;
@light-gray: 	#ccc;
@footer-bg: 	#f2f2f2;